@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

#menu-2 .mbr-brand__name {
  font-size: 16px;
}
#menu-2.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-2 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-2 .mbr-navbar__items a {
  font-family: 'Oxygen', sans-serif;
}
#header4-11 P {
  color: #ffffff;
}
#header4-11 I {
  color: #cccccc;
}
#header4-11 B {
  font-size: 21px;
}
#ext_menu-6 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-6.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-6 .mbr-navbar__hamburger {
  color: #e25041;
}
#msg-box4-6 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-6 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-6 .mbr-article {
  color: #ffffff;
}
#msg-box4-7 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-7 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-7 .mbr-article {
  color: #ffffff;
}
#msg-box4-8 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-8 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-8 .mbr-article {
  color: #ffffff;
}
#msg-box3-10 .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-10 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-10 .mbr-article P {
  color: #ffffff;
}


#menu-2 .mbr-brand__name {
  font-size: 16px;
}
#menu-2.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-2 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-2 .mbr-navbar__items a {
  font-family: 'Oxygen', sans-serif;
}
#header1-1 P {
  font-family: 'Open Sans', sans-serif;
}
