#pricing-table1-37 H3 {
  color: #3d8eb9;
  text-align: center;
}
#pricing-table1-37 SPAN {
  font-size: 23px;
}
#undefined .hide-buttons [data-button] {
  display: none !important;
}
#undefined .nav .link,
#undefined .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#undefined .navbar,
#undefined .dropdown-menu {
  background: #b8312f;
}
#undefined .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#undefined .dropdown-menu a:hover,
#undefined .dropdown-menu a:focus {
  background: #a82d2b;
}
#undefined .navbar-toggler {
  color: #ffffff;
}
#content1-9 P {
  text-align: left;
  color: #000000;
}
#content1-10 P {
  color: #000000;
}
#ext_menu-11 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-11.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-11 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-11 .mbr-navbar__hamburger {
  color: #ffffff;
}
#content1-12 P {
  color: #000000;
}
#content1-13 P {
  color: #000000;
}
#ext_menu-11 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-11.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-11 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-11 .mbr-navbar__hamburger {
  color: #ffffff;
}
