#content5-19 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-19 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-19 .mbr-article {
  color: #fff;
}
#pricing-table1-37 H3 {
  color: #3d8eb9;
  text-align: center;
}
#pricing-table1-37 SPAN {
  font-size: 23px;
}
#ext_menu-11 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-11.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-11 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-11 .mbr-navbar__hamburger {
  color: #ffffff;
}
#dropdown-menu-2btn-3 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-3 .nav .link,
#dropdown-menu-2btn-3 .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-2btn-3 .navbar,
#dropdown-menu-2btn-3 .dropdown-menu {
  background: #b8312f;
}
#dropdown-menu-2btn-3 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-3 .dropdown-menu a:hover,
#dropdown-menu-2btn-3 .dropdown-menu a:focus {
  background: #a82d2b;
}
#dropdown-menu-2btn-3 .navbar-toggler {
  color: #ffffff;
}
#content1-9 P {
  text-align: left;
  color: #000000;
}
#content1-10 P {
  color: #000000;
}
#ext_menu-11 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-11.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-11 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-11 .mbr-navbar__hamburger {
  color: #ffffff;
}
#content1-12 P {
  color: #000000;
}
#content1-13 P {
  color: #000000;
}
#ext_menu-11 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-11.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-11 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-11 .mbr-navbar__hamburger {
  color: #ffffff;
}
#content1-14 P {
  color: #000000;
}
#menu-14 .mbr-brand__name {
  font-size: 16px;
}
#menu-14.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-14 .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-14 .mbr-navbar__hamburger {
  color: #ffffff;
}
